/*****************************\
*          Home               *
\*****************************/
.logo{
    margin-top: 20px;
    text-align: center;
}
.logo img{
    width: 270px;
    height: 90px;
}
.logo span{
    display:block;
}
.actual-day{
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
}
.item-home{
    height: 70px;
}

/*****************************\
*      Conference List        *
\*****************************/
.reload-conference{
    font-size: 24px;
}
.item{
    margin-bottom: 10px;
}
.item:first-child{
    margin-top:25px;
}
.nbConference{
    font-style: italic;
    margin-right: 10px;
    text-align: center;
}
.activeDay{
    background-color: #e5e5e5;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-color: #a2a2a2;
}
.activeConference{
    height: 160px;
}
p.theme-conference{
    font-style: italic;
    font-weight: bold;
    color: #f0b840;
}
p.center{
    text-align: center;
}

.italic{
    font-style: italic;
}

p.theme-detail-conference{
    color: #ffffff;
    font-size: 13px;
    background-color: #f0b840;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
p.room-conference{
    color: #ffffff;
    font-size: 11px;
    background-color: #838585;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}
p.room-detail-conference{
    color: #ffffff;
    font-size: 13px;
    background-color: #838585;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}
.button-add-agenda{
    font-size: 12px;
    text-align: center;
}
.button-view-more{
    font-size: 12px;
    text-align: center;
    height: auto;
}

.info-conference{
    background: #F5F5F5 no-repeat 10px 15px;
    border: 1px solid #C0C0C0;
    color: #404040;
    padding: 10px 10px 10px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 6px 0 #A9A9A9;
    -webkit-box-shadow: 3px 3px 6px #A9A9A9;
    box-shadow: 3px 3px 6px 0 #A9A9A9;
}

.schedule-tab{
    border : 1px solid #e5e5e5;
    background-color: #e5e5e5;
    padding :5px;
    margin-top: 20px;
}

/*****************************\
*       Detail Conference     *
\*****************************/

textarea.field-comment, input.field-comment{
    width: 99%;
    border : 1px solid #e5e5e5;
}
.last-field-comment{
    margin-bottom: 5px;
}
.title-comments{
    font-style: italic;
    margin-top: 10px;
}
.item.comment-item:first-child{
    margin-top:5px;
}
legend{
    border : 0px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.description{
    text-indent:20px;
    padding: 5px;
    text-align: justify;
    border : 1px solid #e5e5e5;
    background-color: #ffffff;
}
.show-description{
    background-color: #C6D0CE;
}

/*****************************\
*          Agenda             *
\*****************************/
.delete-conference-in-agenda{
    border-radius: 10px;
    color : white;
    background-color: #EC1329;
    padding : 4px 9px;
    font-size: small;
}

.event-conference{
    border-radius: 5px;
    background: #4bb2c6;
    padding : 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.event-day{
    margin : 0px 50px 0px 50px;
    border-radius: 5px;
    background: #4F81BC;
    padding : 5px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    color : white
}


/*****************************\
*          Map                *
\*****************************/
.list-map{
    padding-left: 20px;
}

.button-geo{
    margin :5px;
    padding: 0px;
    height: 20px;
}

.angular-google-map-container{
    height: 300px;
    margin-right: 50px;
}

/*****************************\
*          Menu               *
\*****************************/

.no-border{
    border : 0px;
}

/*****************************\
*         CSS WorldLin       *
\*****************************/
/** Rewritter CSS Ionic to adapt WorldLine color **/
.bar.bar-positive {
    background-color: #0066A1;
}
.tab-item.tab-item-active{
    border-top : 2px solid #0066A1;
}