/*****************************\
*          Home               *
\*****************************/
.logo{
    margin-top: 20px;
    text-align: center;
}
.logo img{
    width: 270px;
    height: 90px;
}
.logo span{
    display:block;
}
.actual-day{
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
}
.item-home{
    height: 70px;
}

/*****************************\
*      Conference List        *
\*****************************/
.bar-subheader{
    height: 50px;
    top: 50px;
    text-align: center;
}
.subheader-info{
    padding: 0;
}
.subheader-info .col{
    padding: 0;
}
.subheader-info .col .button{
    min-width: 100px;
}
.conferences-content{
    top: 65px;
}
.reload-conference{
    font-size: 24px;
}
.item{
    margin-bottom: 10px;
    padding: 7px;
}
.item:first-child{
    margin-top:25px;
}
.nbConference{
    font-style: italic;
    width: 100%;
    line-height: 31px;
}
.activeDay{
    background-color: #e5e5e5;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-color: #a2a2a2;
}
.activeConference{
    height: 160px;
}
.conference-title{
    font-weight: bold;
    padding: 0;
}
p.conferences-room {
    border-right: 1px solid #CCC;
    line-height: 50px;
    padding: 0;
}
p.theme-conference{
    font-style: italic;
    font-weight: bold;
    color: #f0b840;
    font-size: 11px;
    padding: 0;
}
.conferences-info{
    padding: 0;
}
p.center{
    text-align: center;
}

.italic{
    font-style: italic;
}

p.theme-detail-conference{
    color: #ffffff;
    font-size: 13px;
    background-color: #f0b840;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
p.room-conference{
    color: #ffffff;
    font-size: 11px;
    background-color: #838585;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}
p.room-detail-conference{
    color: #ffffff;
    font-size: 13px;
    background-color: #838585;
    border-radius: 10px;
    text-align: center;
    height: 30px;
}
.button-add-agenda{
    font-size: 12px;
    text-align: center;
}
.button-view-more{
    font-size: 12px;
    text-align: center;
    height: auto;
}

.info-conference{
    background: #F5F5F5 no-repeat 10px 15px;
    border: 1px solid #C0C0C0;
    color: #404040;
    padding: 10px;
    margin-top: 20px;
}

.schedule-tab{
    border : 1px solid #e5e5e5;
    background-color: #e5e5e5;
    padding :5px;
    margin-top: 20px;
}

/*****************************\
*       Detail Conference     *
\*****************************/

.description{
    text-indent:20px;
    padding: 5px;
    text-align: justify;
    border : 1px solid #e5e5e5;
    background-color: #ffffff;
}
.show-description{
    background-color: #C6D0CE;
}

/*****************************\
*          Agenda             *
\*****************************/
.delete-conference-in-agenda{
    border-radius: 10px;
    color : white;
    background-color: #EC1329;
    padding : 4px 9px;
    font-size: small;
}

.event-conference{
    border-radius: 5px;
    background: #4bb2c6;
    padding : 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.event-day{
    margin : 0px 50px 0px 50px;
    border-radius: 5px;
    background: #4F81BC;
    padding : 5px 20px 5px 20px;
    text-align: center;
    font-weight: bold;
    color : white
}


/*****************************\
*          Map                *
\*****************************/
.list-map{
    padding-left: 20px;
}

.button-geo{
    margin :5px;
    padding: 0px;
    height: 20px;
}

.angular-google-map-container{
    height: 300px;
    text-align: center;
}

/*****************************\
*          Menu               *
\*****************************/

.no-border{
    border : none;
}

/*****************************\
*         CSS WorldLin       *
\*****************************/
/** Rewritter CSS Ionic to adapt WorldLine color **/
.bar.bar-positive {
    background-color: #0066A1;
}

.tabs-icon-top > .tabs .tab-item{
    border-top : 1px solid #CCC;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
    border-top : 2px solid #0066A1;
}