<ion-view title="Agenda" ng-init="getAgendaAndConference()">
    <ion-content class="has-header has-tabs" padding="true">

        <p  class="italic center" ng-show="!myAgenda.length">You don't have any conference in your agenda</p>

        <!-- AGENDA FOR THE DAY 1 -->
        <p class="center event-day"><strong>DAY 1 </strong> <br/> 2<sup>nd</sup> June 2015</p>

        <ion-list>

            <div class="schedule-tab">
                <p>Starting at 08:00 - 08:30</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 08:30 - 08:50</p>
                <div class="event-conference">
                    <span>Introduction by François Hochede and Denis Faivre</span>
                </div>
            </div>
            <div class="schedule-tab">
            <p>Starting at 08:50 - 09:50</p>
                <div class="event-conference">
                    <span>Keynote by Jean-Marc Denis : "Exascale computing and data: new frontier or business as usual?"</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 09:50 - 10:40</p>
                <div class="event-conference">
                    <span>Teasing session: 2 minutes to convince</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 10:40 - 11:10</p>
                <div class="event-conference">
                    <span>Demos & Posters in the Atrium & the Showroom</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 1 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule1">
                <p ng-model="schedule.when.start">Starting at {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day1" ng-click="viewConference(conferenceAgenda._id)" >
                    <div class ="row agenda-conf conferences-info">
                        <p class="conferences-room col col-10">R {{conferenceAgenda.where}}</p>
                        <div class="col col-80">
                            <p class="conference-title"><span>{{conferenceAgenda.title}}</span></p>
                        </div>
                        <button class="col col-10 button button-icon icon ion-trash-b" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()"></button>
                    </div>    
                </ion-item>
                <ion-item ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day1).length">
                <div class="row agenda-conf">
                    <p class="col col-90">You don't have any conference</p>
                    <button class="col col-10 button button-icon icon ion-plus-circled" ng-click="viewConferenceWithTime(day.day1,itemSchedule);$event.stopPropagation()"></button>
                </div>
                </ion-item>
            </div>

            <div class="schedule-tab">
                <p>Starting at 16:50 - 17:00</p>
                <div class="event-conference">
                    <span>Break</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 17:00 - 17:30</p>
                <div class="event-conference">
                    <span>Intellectual Property & Patents: how to make the most of your inventions. by Claire Le Floch</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 17:40 - 19:20</p>
                <div class="event-conference">
                    <span>Activities & beers</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Starting at 19:30 - 22:30</p>
                <div class="event-conference">
                    <span>BBQ party</span>
                </div>
            </div>

            <br/>
            <hr/>

            <!-- AGENDA FOR THE DAY 2 -->
            <p class="center event-day"><strong>DAY 2 </strong> <br/> 3<sup>rd</sup> June 2015</p>

            <div class="schedule-tab">
                <p>Starting at 08:00 - 08:30</p>
                <div class="event-conference">
                    <span>Welcoming coffee</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Starting at 08:30 - 09:30</p>
                <div class="event-conference">
                    <span>Keynote: "Model Driven Engineering Applied" by Pedro J.Molina</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Starting at 09:30 - 10:20</p>
                <div class="event-conference">
                    <span>Teasing session : 2 minutes to convince</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Starting at 10:20 - 10:40</p>
                <div class="event-conference">
                    <span>Demos & Posters in the Atrium & the Showroom</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 2 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule2">
                <p ng-model="schedule.when.start">Starting at {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day2" ng-click="viewConference(conferenceAgenda._id)">
                    <div class ="row agenda-conf conferences-info">
                        <p class="conferences-room col col-10">R {{conferenceAgenda.where}}</p>
                        <div class="col col-80">
                            <p class="conference-title"><span>{{conferenceAgenda.title}}</span></p>
                        </div>
                        <button class="col col-10 button button-icon icon ion-trash-b" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()"></button>
                    </div>
                </ion-item>
                <ion-item ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day2).length">
                <div class="row agenda-conf">
                    <p class="col col-90">You don't have a conference</p>
                    <button class="col col-10 button button-icon icon ion-plus-circled" ng-click="viewConferenceWithTime(day.day2,itemSchedule);$event.stopPropagation()"></button>
                </div>
                </ion-item>
            </div>
            
            <div class="schedule-tab">
                <p>Starting at 16:20 - 16:30</p>
                <div class="event-conference">
                    <span>Awards for winners (teasing session & coding session)</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Starting at 16:30 - 16:40</p>
                <div class="event-conference">
                    <span>Conclusion by François Hochede and Denis Faivre</span>
                </div>
            </div>

        </ion-list>

    </ion-content>
</ion-view>