<ion-view title="Agenda" ng-init="getAgendaAndConference()">
    <ion-content class="has-header has-tabs" padding="true">

        <p  class="italic center" ng-show="!myAgenda.length">You don't have conference in your agenda</p>

        <!-- AGENDA FOR THE DAY 1 -->
        <p class="center event-day"><strong>DAY 1 </strong> <br/> 3<sup>rd</sup> June 2015</p>

        <ion-list>

            <div class="schedule-tab">
                <p>Start 08:00 - 08:30</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 08:30 - 08:50</p>
                <div class="event-conference">
                    <span>Introduction by François Hochede and Denis Faivre</span>
                </div>
            </div>
            <div class="schedule-tab">
            <p>Start 08:50 - 09:50</p>
                <div class="event-conference">
                    <span>Keynote by Humberto Matas : "Blurring the lines. Learning to live in an uncertain world"</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 09:50 - 10:40</p>
                <div class="event-conference">
                    <span>Teasing session: 2 minutes to convince</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 1 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule1">
                <p ng-model="schedule.when.start">Starting at {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day1" ng-click="viewConference(conferenceAgenda._id)" >
                    <div class ="row agenda-conf conferences-info">
                        <p class="conferences-room col col-10">R {{conferenceAgenda.where}}</p>
                        <p class="conference-title col col-80">{{conferenceAgenda.title}}</p>
                        <button class="col col-10 button button-icon icon ion-trash-b" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()"></button>
                    </div>    
                </ion-item>
                <ion-item ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day1).length">
                <div class="row agenda-conf">
                    <p class="col col-90">You don't have a conference</p>
                    <button class="col col-10 button button-icon icon ion-plus-circled" ng-click="viewConferenceWithTime(day.day1,itemSchedule);$event.stopPropagation()"></button>
                </div>
                </ion-item>
            </div>

            <div class="schedule-tab">
                <p>Start 18:30 - 19:30</p>
                <div class="event-conference">
                    <span>Drinks and Acanthurus Concert part I</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 19:30 - 21:00</p>
                <div class="event-conference">
                    <span>Barbecue party</span>
                </div>
            </div>
            <div class="schedule-tab">
                <p>Start 21:00 - 22:00</p>
                <div class="event-conference">
                    <span>Acanthurus Concert part II</span>
                </div>
            </div>

            <br/>
            <hr/>

            <!-- AGENDA FOR THE DAY 2 -->
            <p class="center event-day"><strong>DAY 2 </strong> <br/> 4<sup>th</sup> June 2015</p>

            <div class="schedule-tab">
                <p>Start 08:00 - 08:30</p>
                <div class="event-conference">
                    <span>Welcome coffee</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 08:30 - 09:40</p>
                <div class="event-conference">
                    <span>Keynote : Solving Scalability Problems with Hazelcast by David Brimley</span>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 09:40 - 10:20</p>
                <div class="event-conference">
                    <span>Teasing session : 2 minutes to convince</span>
                </div>
            </div>

            <!-- CONFERENCES ADDED FOR DAY 2 -->
            <div class="schedule-tab" ng-repeat="itemSchedule in mySchedule2">
                <p ng-model="schedule.when.start">Start {{itemSchedule}}</p>
                <ion-item ng-repeat="conferenceAgenda in myAgenda | scheduleByConference:itemSchedule:day.day2" ng-click="viewConference(conferenceAgenda._id)">
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conferenceAgenda.where}}</p>
                        <p class="col col-80"><strong>{{conferenceAgenda.title}}</strong></p>
                    </div>
                    <div class="row">
                        <span class="delete-conference-in-agenda" ng-click="onItemDelete(conferenceAgenda._id);$event.stopPropagation()">Delete</span>
                    </div>
                </ion-item>
                <div class="row" ng-hide ="(myAgenda  | scheduleByConference:itemSchedule:day.day2).length">
                    <p class="col">You don't have a conference</p>
                    <button class="button col" ng-click="viewConferenceWithTime(day.day2,itemSchedule);">Add conference</button>
                </div>
            </div>

            <div class="schedule-tab">
                <p>Start 16:20 - 16:30</p>
                <div class="event-conference">
                    <span>Conclusion by François Hochede and Denis Faivre</span>
                </div>
            </div>

        </ion-list>

    </ion-content>
</ion-view>