<ion-view title="Conferences" right-buttons="rightButtons" ng-init="getAllConf()">
    <ion-nav-buttons side="right">
        <button class="button-clear icon ion-android-refresh reload-conference" ng-click="updateConference()"></button>
    </ion-nav-buttons>
    <section class="bar bar-subheader">
        <div class="row subheader-info">
            <div class="col col-35" >
                <a class="button" ng-click="clickPageDay(1)" ng-class="{activeDay :numButton == 1}">Day 1</a>
            </div>
            <div class="col col-35">
                <a class="button" ng-click="clickPageDay(2)" ng-class="{activeDay :numButton == 2}">Day 2</a>
            </div>
            <div class="col col-30">
                <p class="nbConference">{{(conferences |filter:search).length}} conferences</p>
            </div>
        </div>
    </section>
    <ion-content class="has-subheader has-tabs conferences-content" padding="true">
        <br/>

        <!-- CONFERENCES LIST -->
        <ion-list>
            <div class="schedule-tab" ng-repeat="itemSchedule in scheduleconferences" ng-show="(conferences  | scheduleByConference:itemSchedule:search.day).length">
                <p ng-model="schedule.when.start">Starting at {{itemSchedule}}</p>
                  <ion-item  ng-repeat="conference in conferences  | scheduleByConference:itemSchedule:search.day | orderBy:'where'" ng-click="viewConference(conference._id)">
                    <div ng-class="{activeConference: conference._id==selectedConferenceId}">
                        <div class ="row">
                            <p class="conferences-room col col-10">R{{conference.where}}</p>
                            <div class="col col-90 conferences-info">
                                <div class="row">
                                    <p class="conference-title col col-100">{{conference.title}}</p>
                                </div>
                                <div class="row">
                                    <p class="col col-100 theme-conference">{{conference.theme}}</p>
                                </div>
                            </div>    
                        </div>
                    </div>
                 </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>