<ion-view title="TechForum 2015" ng-init="getConf();">
    
    <!-- Piwik Image Tracker-->
    <img src="http://piwik-techforumatos.rhcloud.com/piwik.php?idsite=1&rec=1" style="border:0" alt="" />
    <!-- End Piwik -->

    <ion-content class="has-header has-tabs" padding="true">

        <div class="logo">
            <img src="img/techforum.png">
            <span>Mobile app <br>by <br><strong style="font-size: large">S.D.C.O</strong></span>
        </div>

        <!-- INDICATION OF DAY NUMBER -->
        <section>
            <p ng-show="current_day.day == 1 || current_day.day == 2" class="actual-day">Conference day : {{current_day.day}}</p>
            <p ng-show="current_day.day == 3" class="actual-day">End of techForum 2015</p>
            <p ng-show="current_day.day == 0" class="actual-day">
                Starting TechForum date June 2 and 3, 2015 in Seclin, France.
                <br/>
                    <span ng-hide="time.day == 0">in {{time.day}} days</span>
                    <span ng-show="time.day == 0">Tomorrow</span>
            </p>
            <br/>
        </section>

        <!-- VIEW NEXT CONFERENCE  -->
        <p class="italic center">Next conferences</p>
        <ion-list>
                <div style="margin-top: 0px" class="item item-divider" ng-model="schedule.when.start">
                    <span ng-show="current_day.day == 1 || current_day.day == 2">Start {{nextSchedule}}</span>
                    <span ng-show="current_day.day == 0">Coming soon : next conferences by hours</span>
                    <span ng-show="current_day.day == 3">It's finish - End of TechForum 2015</span>
                </div>
                <ion-item class="item-home" ng-repeat="conference in conferences  | scheduleByConference:nextSchedule:current_day.day | orderBy:'where'" ng-click="viewConference(conference._id)">
                    <div class ="row">
                        <p class="col col-20 room-conference">R {{conference.where}}</p>
                        <p class="col col-80"><strong>{{conference.title}}</strong></p>
                    </div>
                </ion-item>
        </ion-list>

    </ion-content>

</ion-view>
