<!-- Tabs  -->
<ion-tabs class="tabs-icon-top tabs-striped">

    <!-- Home Tab -->
    <ion-tab title="Home" icon="icon ion-android-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <!-- Conferences Tab -->
    <ion-tab title="Conferences" icon="icon ion-ios-people" href="#/tab/conferences">
        <ion-nav-view name="conferences-tab"></ion-nav-view>
    </ion-tab>
    <!-- Agenda Tab -->
    <ion-tab title="Agenda" icon="icon ion-android-calendar" href="#/tab/agenda">
        <ion-nav-view name="agenda-tab"></ion-nav-view>
    </ion-tab>
    <!-- Access Tab -->
    <ion-tab title="Access Map" icon="icon ion-android-map" href="#/tab/access">
        <ion-nav-view name="access-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>